/*....................univres................................*/
.univers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hadUnivres{
    margin-right: 0rem;
    padding: 0;
    display: flex; 
    align-items: center; 
    margin: 0 1rem;

}
#hadUnivres li {
    list-style: none;
    text-align: center;
    display: block;
    padding: 1rem;  
  }

  #hadUnivres a {
    text-decoration: none;
    padding: 0 30px;
    display: block;
    margin: 1rem;
   
    

  }
  .icon-univers {
 
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    
    /*....................slider................................*/
    
    }
.sliders{
    width: 100%;
    position: relative;
    
    
}
.contunair-slider{
    display: flex;
    flex-direction: row;
    
}
#imgSlider{
    width: 100%;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    
}
#imgSlider img
{
    width: 1200px;
    height: 600px;
}
.lefet,
 .right{
    position: absolute;
      top: 50%;
    font-size: 5rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.right{
    right: 20px;
}
.icon-univers{

font-size: 40px;
vertical-align: middle;

text-align: center;
}