label {
    margin: 15px;
}

.passwordOublie {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0px;
    color: #d6c4b8;
}

.left-titre,
.right-titre {
    width: 550px;
}

.logoTitre {
    font-family: "Stint Ultra Expanded regular medium bold xbold";
    font-weight: 400;
    font-size: 22px;
    color: #9D5D35;
}

.nouveauCompte,
.monCompte {
    text-align: center;
    padding: 10px;
}

ul.listePrivileges {
    list-style-type: square;
    line-height: 300%;
}

ul.listePrivileges li::before {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


a:hover,
a:focus {
    color: #9d5d35;
}input[type="submit"]{
    background-color: black;
    color: white;
  
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 20px 190px;
}