* {
    box-sizing: border-box;
}

form {
    position: relative;
    /* postulat de départ */
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    /* à 50%/50% du parent référent */
}



input[type="submit"]:hover {
    background-color: #9d5d35;
}
input[type="reset"]:hover{
    background-color: #9d5d35;
}
input[type="email"],select,input[type="text"],
input[type="password"] {
    width: 90%;
    margin: 15px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}



.box {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    width: 80%;
}

.box-left {
    height: 550px; 
    width: 550px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-right {
    background-color: #d6c4b8;
     height: 550px; 
    width: 550px;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-right em {
    padding: 22px;
    color: #9D5D35;
}