@import url('./nav.css');
@import url('./footer.css');
@import url('./connexion.css');
@import url('./inscription.css');
@import url('./form.css');
@import url('./accueil.css');
@import url('./contact.css');


body {
    margin: 0;
    background-color: #FBF8F6;
    font-family: "arial";
}

.hearder h2 {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
h1,h2,h3,h4,h5{
    color: black;
}