@import url('./nav.css');
@import url('./footer.css');
@import url('./connexion.css');
@import url('./form.css');
@import url('./accueil.css');

body {
    margin: 0;
    background-color: #FBF8F6;
    font-family: "arial";
}

.hearder h2 {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}